body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* ----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap");

.summary {
    background-color: #293038;
    color: #e0e0e0;
}

/* --- HEADER --- */

.summary .logo {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    display: inline-block;
}

.summary h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: "Red Rose", cursive;
    font-size: 2.2rem;
    padding-top: 15px;
}

/* --- Main Section --- */

.summary h2 {
    font-family: "Red Rose", cursive;
}

.summary .patient-name {
    border-radius: 3px;
    padding: 5px 10px;
    border: 2px solid #181818;
    box-shadow: -3px 3px #181818, -2px 2px #181818, -1px 1px #181818;
    margin-bottom: 0.8rem;
    background-color: #191919 !important;
    color: #fff;
    text-transform: uppercase;
}

/* TO CHANGE THE BORDER OF THE WHOLE INTERFACE OF PATIENT-DATA */
.summary .patient-data {
    border-top: 1px solid #181818;
    border-right: 1px solid #181818;
    border-bottom: 1px solid #181818;
    box-shadow: -3px 3px #181818, -2px 2px #181818, -1px 1px #181818;
    border-radius: 6px;
    padding: 12px;
    margin: 0px 0px 1rem;
}

/* TO CHANGE THE BORDER OF THE WHOLE NAV ON THE LEFT */
.summary .nav-pills {
    border-radius: 4px;
}

/* TO CHANGE THE OUTLINE OF OF BUTTONS ON THE LEFT */
.summary .navigation-link {
    box-shadow: -3px 3px #181818, -2px 2px #181818, -1px 1px #181818;
    border: 1px solid #181818 !important;
    margin: 1px 0;
    border-radius: 4px;
}

/* TO CHANGE THE SECTION THAT DISPLAYS THE DATA */
/* .patient-content {
    background-color: #fff;
    background-color: #202020;
    border-radius: 5px;
    padding: 1rem;
    height: 100%;
} */

.summary .nav-pills .nav-link.active {
    background-color: #21c1c9;
    color: #181818 !important;
}

.summary a {
    color: #21c1c9 !important;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.summary .row .menu {
    --bs-gutter-x: 0;
}

.summary .container {
    padding: 0 2rem;
}

.summary .search-area {
    margin-bottom: 1rem;
}

.summary .patient-profile {
    border-top: 1px solid #181818;
    border-right: 1px solid #181818;
    border-bottom: 1px solid #181818;
    box-shadow: -3px 3px #181818, -2px 2px #181818, -1px 1px #181818;
    border-radius: 6px;
    background-color: #202020;
    margin-bottom: 1rem;
    padding: 1rem;
}

/* Patient Info Section (which changes) */
.summary .patient-info {
    padding: 0.5rem 0 0 0;
    margin-right: 0;
}

.summary .label-patient {
    width: 4.6rem;
}

.summary .search-health-card {
    padding: 1.5rem 0 0 1.5rem !important;
    max-width: 100% !important;
}

.summary .heading-container {
    margin-right: 0;
    padding-left: 0.3rem;
}

/* --- CIRCLE --- */

.summary .category {
    padding-right: 0.4rem;
}

.summary .circle {
    border-radius: 50%;
    padding: 2px 2px;
    font-size: 0.85rem;
    font-weight: 700;
    width: 27px;
    height: 25px;
    text-align: center;
    background-color: #21c1c9;
    color: #293038;
    vertical-align: middle;
}

.summary .nav-link.active .circle {
    background-color: #293038;
    color: #21c1c9;
}

/* --- Buttons --- */

.summary .btn-refresh {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.summary .btn-new {
    display: inline-block;
    margin-right: 0.5rem !important;
    margin-bottom: 0.5rem;
}

/* --- UTILITY CLASSES --- */

.summary .bg-custom-1 {
    background-color: #21c1c9 !important;
}

.summary .bg-custom-2,
.summary.bg-custom-2 {
    background-color: #202020;
}

.summary .px-custom-1 {
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}

.summary .py-custom-1 {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}

.summary .uppercase {
    text-transform: uppercase;
}

.summary .nav-pills,
.summary .nav-link,
.summary .nav-tabs,
.summary .nav-link {
    padding: 0.6rem 0.8rem 0.5rem;
}

.summary .btn-sm,
.summary .nav-link {
    border-radius: 3px;
    font-weight: 500;
    text-transform: none !important;
}

.summary .form-control {
    background-color: white;
    height: 2.25rem;
    padding: 0.5rem;
    border-radius: 3px;
    background-image: none;
}

.summary th {
    color: white !important;
}

.summary .patient-data {
    margin-bottom: 0;
}

.summary {
    padding-bottom: 1.2rem;
}

.summary .table td,
.summary .table th,
.summary .table thead {
    border: 0;
    border-bottom: 1px solid white;
}

.summary td.label-details {
    padding-right: 1rem;
    border: 0 !important;
}

.summary .table td,
.summary .table th,
.summary .table thead th {
    border: 0;
}

.summary .table th {
    text-transform: uppercase !important;
}

.summary .search-area {
    padding: 0 !important;
}

.summary .px-custom-1,
.summary .py-custom-1 {
    padding: 0 !important;
}

.summary .patient-content {
    padding-right: 0.7rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.summary .label-details {
    padding: 0 !important;
    padding-right: 0.7rem !important;
    padding-bottom: 0.3rem !important;
    margin: 0 !important;
}

.summary .form-control {
    background-image: none;
}

/* --- Breakpoints --- */

@media (max-width: 991.98px) {
    .summary .patient-info {
        margin-top: 0.7rem;
    }
    .summary .search-health-card {
        padding-top: 0.9rem;
        padding-left: 0.9rem;
        padding-right: 1.3rem !important;
        margin-right: 3rem !important;
        border-top: 1px solid #181818;
        border-right: 1px solid #181818;
        border-bottom: 1px solid #181818;
        box-shadow: -3px 3px #181818, -2px 2px #181818, -1px 1px #181818;
        border-radius: 6px;
        margin-bottom: 1rem;
        margin-top: 0;
        margin-left: 0.7rem !important;
        max-width: 98.3% !important;
    }
    .summary .all-tabs {
        padding-bottom: 1.3rem;
    }
    .summary .nav-link {
        padding-top: 0.4rem !important;
        padding-bottom: 0.4rem !important;
    }
    .patient-content {
        padding-left: 0.7rem;
    }
}

@media (max-width: 800px) {
    .summary h1 {
        font-size: 1.9rem !important;
    }
}

@media (max-width: 767.98px) {
    .summary .btns-new-refresh {
        justify-content: start !important;
        padding-top: 1rem;
        padding-bottom: 0.3rem;
    }
}

@media (max-width: 700px) {
    .summary h1 {
        font-size: 1.8rem !important;
    }
}

@media (max-width: 600px) {
    .summary h1 {
        font-size: 1.6rem !important;
    }
    .summary .search-health-card {
        max-width: 97.3% !important;
    }
}

@media (max-width: 500px) {
    .summary h1 {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 400px) {
    .summary h1 {
        font-size: 1.1rem !important;
    }
    .summary .block {
        font-size: 0.85rem;
    }
    .summary .search-health-card {
        max-width: 96.4% !important;
    }
}

@media (max-width: 350px) {
    .summary h1 {
        font-size: 0.9rem !important;
    }
}
