.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* --- NAVBAR STYLES --- */

.background-custom {
    background-color: #202020 !important;
}

span.nav-link,
a.nav-link {
    color: white !important;
    font-weight: 600 !important;
}

.nav-tabs .nav-link:focus,
.active-link:focus,
.active-link:active,
.active-link,
a.nav-link.active-link {
    border-bottom: 0.214rem solid #21c1c9 !important;
    color: #21c1c9 !important;
}

.nav,
.nav-tabs {
    color: #21c1c9 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #202020 !important;
}

/* --- GENERAL CLASSES FOR ALL PAGES --- */

@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap");

body {
    background-color: #293038;
}

.jumbotron {
    border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Red Rose", cursive;
}

/* --- BLACK BUTTONS --- */
/* .btn-primary {
    color: #21c1c9 !important;
    border-radius: 4px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    background-color: #202020 !important;
} */

/* --- GREEN BUTTONS --- */
.btn-primary {
    background-color: #21c1c9 !important;
    color: #202020 !important;
    border-radius: 4px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.bg-custom-1 {
    background-color: rgb(251, 251, 251) !important;
}

.bg-custom-2 {
    background-color: #293038;
}

.bg-custom-3 {
    background-color: #20c1c9 !important;
}

.bg-custom-4 {
    background-color: #202020 !important;
}

input.form-control {
    height: 2.2rem;
}

.color-custom-1 {
    color: #20c1c9 !important;
}

.logo {
    display: inline-block !important;
}

.home {
    min-height: calc(100vh - 120px) !important;
}

.sign-in,
.sign-up,
.user-profile {
    min-height: calc(100vh - 165px) !important;
}

.find-patient {
    min-height: calc(100vh - 370px) !important;
}

.edit-patient {
    min-height: calc(100vh - 50px) !important;
}

.update-patient {
    min-height: calc(100vh - 142px) !important;
}

.update-record {
    min-height: calc(100vh - 380px) !important;
}

.form-control {
    background-color: #e8f0fe !important;
    background-image: none;
    padding: 0.5rem;
    border-radius: 3px;
}

label.text-muted {
    color: white !important;
}

h2,
p {
    color: white;
}

.create-patient h2,
.sign-in h2,
.sign-up h2,
.user-profile h2,
.find-patient h2,
.edit-profile h2,
.edit-patient h2,
.view-patient h2,
.update-patient h2 {
    text-transform: uppercase !important;
    text-align: center;
}

.user-profile img {
    border-radius: 5px !important;
}

.card {
    background-color: #e8f0fe;
    border: 8px solid #293038;
    border-radius: 12px;
}

.btn,
button {
    font-weight: 600;
    border-radius: 5px;
}

.mark {
    background-color: #202020;
    padding: 10px;
    border-radius: 3px;
}

.mark {
    background-color: #202020;
    padding: 10px;
    border-radius: 3px;
}

h2.heading {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}

.p-top-custom {
    padding-top: 1rem;
}

.nav-link,
a {
    font-size: 0.9rem !important;
}

.navbar-nav .nav-link {
    padding-top: 1.1rem;
}

.padding-custom {
    padding-top: 0.11rem !important;
    padding-bottom: 0.11rem !important;
}

.create-medical-personelle {
    height: calc(100vh - 120px) !important;
}

.view-edit-btn,
.view-delete-btn {
    border-radius: 5px !important;
}

.admin-users {
    /* text-transform: uppercase;
    text-align: center !important; */
    min-height: calc(100vh - 167px) !important;
}

.title {
    font-family: "Red Rose", cursive !important;
}

.admin-dashboard {
    min-height: calc(100vh - 500px) !important;
}

.admin-jumbo {
    background: #e8f0fe !important;
}

.posts {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.8rem;
}

.find-people {
    min-height: calc(100vh - 215px) !important;
}

.title-update-record,
.patient-record {
    text-transform: uppercase;
    text-align: center;
}

.patient-last-name {
    font-size: 3rem;
    /* padding-left: 1.1rem; */
    margin-bottom: 1rem !important;
    padding-bottom: 0 !important;
}
